
.pass-card{
    width: 100%;
    height: 40px;  

    background-color: #1E1E1E;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    margin-top: 3px;

    color: white;

    cursor: pointer;

    box-sizing: border-box;

    border-right: 5px solid #0E5478;
    border-left:  5px solid #0E5478;

    padding-right: 40px;
    padding-left: 40px;
}

.change-date{

    width: 170px;
    height: 40px;

    background-color: #0E5478;

    line-height: 40px;
    text-align: center;

    border-left: 3px solid #54FF71;

    margin-right: 3px;
}

.pass-title{
    margin-right: auto;

    font-size: 20px;
    font-weight: bold;

    margin-left: 15px;
}


.pass-note{

    width: 220px;
    height: 40px;

    box-sizing: border-box;
    border: 3px solid #0E5478;

    color: white;

    font-size: 18px;
    font-family: 'Consolas';

    line-height: 40px;
    text-align: center;

    background-color: #1E1E1E;
}

.pass-note:focus{  
    outline: none;
}

.hidden{
    color: #1E1E1E;
}


.pass-tool{
    height: 40px;
    width: 40px;


    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 3px;
}

.pass-icon{
    height: 26px;
    width: 26px;
}

.show{ background-color: #0E5478; }
.show:hover{ background-color: #387391; }

.edit{ background-color: #577B51 }
.edit:hover{ background-color: #68A15F; }

.delete{ background-color:#45475A; }
.delete:hover{ background-color: #673E82; }


.accept{ background-color: #00b359; }
.accept:hover { background-color: #00e673; }